const apiKeys = {
  firebaseConfig: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',

  },
  countryApi: {
    countryStuff: '',
  },
    priceApi: {
    exchangeRate: '',
  },
};

export default apiKeys;
