// .myForm{
//   background-color: lightblue;  
// }

.vacName{
  font-weight: 900;
}

.vacaName{
  font-weight: 900;
  color: white;
}

.vacayName{
  font-weight: 900;
  color: black;
}

.vacatName{
  font-weight: 900;
  color: black;  
}

.vacatiName{
  font-weight: 1000;
  font-size: x-large;
  color: black;  
}

// .funDiv{
//   margin-left: 500px;
// }